html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*header css*/
.topTitle{
	background:#343844;
	width:100%;
	height:80px;
}
.logo{
	width:95%;
	margin:0 auto;
	color:white;
}
.logo-img{
	width:50px;
	height:50px;
	position: fixed;
    top: 16px;
    left: 4%;
}
.logo-word{
	position: fixed;
    top: 24px;
    font-size: 25px;
    left: 10%;
}
.nav{
	width: 50%;
    float: right;
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.nav ul li{
	float: left;
	padding-right: 30px;
}
/*header css end*/

/*main css*/
.main{
	background: floralwhite;
	margin:0 auto;
}
.content-left{
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	/*换行（作用于容器）*/
	flex-wrap: wrap;
	margin-left: 25px;
}
.content-box{
	width:250px;
	border-radius:5px;
	background:#fff;
	margin:30px 0;
	height: 170px;
}
.content-box .item{
	width:230px;
	height:150px;
	border:1px solid gray;
	border-radius:5px;
	margin:10px;
}
.content-word{
	display: flex;
	width: 230px;
	justify-content: center;
	background: chocolate;
	border-radius:5px;
	height:30px;
	align-items:center;
	color:#000000;
	position: relative;
	top: -45px;
	left: 11px;
}
/*main css end*/

/*footer css*/
.bottom{
	height: 60px;
    background: #343844;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer{
	color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*footer css end*/