html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*header css*/
.topTitle{
	background:#343844;
	width:100%;
	height:80px;
}
.logo{
	width:95%;
	margin:0 auto;
	color:white;
}
.logo-img{
	width:50px;
	height:50px;
	position: fixed;
    top: 16px;
    left: 4%;
}
.logo-word{
	position: fixed;
    top: 24px;
    font-size: 25px;
    left: 10%;
}
.nav{
	width: 50%;
    float: right;
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.nav ul li a{
	color: #fff;
	float: left;
	padding:0 15px;
}
.nav ul li:hover{
	transform: scale(1.1);
	background: gray;
	border-radius: 5px;
	cursor: pointer;
	  
}
.navList{
	float:left;
}
/*header css end*/

/*main css*/
.main{
	background: #eef1f7;
	margin:0 auto;
}
.content{
	display: flex;
    justify-content: center;
}
.content-left{
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-left: 10%;
}
.content-right{
	width: 40%;
    float: right;
    position: relative;
    right: 10%;
    top: -490px;
}
.content-right img{
	width: 100%;
	margin-top: -2%;
    height: 500px;
}
.content-box{
	width:230px;
	border-radius:5px;
	background:#fff;
	margin-top: 5%;
	height: 150px;
}
.content-box .item{
	width:210px;
	height:130px;
	border:1px solid gray;
	border-radius:5px;
	margin:10px;
}
.content-word{
	display: flex;
	width: 210px;
	justify-content: center;
	background: chocolate;
	border-radius:5px;
	height:30px;
	align-items:center;
	color:#000000;
	position: relative;
	top: -45px;
	left: 11px;
}
.main>.content>ul li a{
	color: #666666;
    width: 63%;
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.content-special{
	width: 20%;
	border-right: 2px dashed #000000;
	display: inline;
	float: left;
}
.content-special ul li{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:200px;
}
.content-special:last-child{
	border: 0 none;
}
.spacial-img{
	display: flex;
	justify-content: center;
}
.spacial-img img{
	width: 130px;
	height: 118px;
}
.spacial-name{
	width: 100%;
    height: 30px;
    float: left;
    display: inline;
    line-height: 30px;
    cursor: default;
    vertical-align: bottom;
    font-family: "微软雅黑";
    font-size: 18px;
    font-weight: bold;
    text-indent: 25%;
    padding-left: 40px;
}
/*main css end*/

/*footer css*/
.bottom{
	height: 60px;
    background: #343844;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer{
	color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*footer css end*/
/*单个subject页面的数据展示*/
.subContent{
	left: 3%;
	top: 13%;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    
}
.jquery-accordion-menu{
	min-width: 200px;
    width: 220px;
}
/*单个subject页面的数据展示 end*/
/*根据不同的屏幕大小，加载不同的样式*/
@media screen and (min-width:1500px){
	.logo-img{
		left: 10%;
	}
	.logo-word{
		left: 16%;
	}
	.content{
		width: 85%;
		margin:0 auto;
	}
	.content-leftAndRight{
		width: 85%;
		margin:0 auto;
		display:flex;
		justify-content:space-between;
	}
	.content-right img{
		width: 80%;
		margin-top: -30px;
		height: 503px;
	}
	.subContent{
		left: 15%
	}
}